<div class="wrapper kontest">
	<header class="top">
		<div class="logo-background">
			<img class="logo" src="ui/images/logos/kontest.png"></img>
			<p class="sentence">
				Un été qui m'en a appris beaucoup plus que ce que j'espérais.
			</p>
		</div>
	</header>
	<article class="first-paragraph">
		<p class="sentence">
			Stage de 3 mois chez <a href="http://kontestapp.com/fr" target="blank">kontest</a> pour travailler sur le projet R&D Plexio.
		</p>
	</article>
	<article class="second-paragraph">
		<header>
			<h2><img src="ui/images/logos/plexio.png"></h2>
			<p>Premier jeu social massivement multijouer au monde</p>
		</header>
		<div class="more-explication">
			<div class="wrapper-explication">
				<h2>Un jeu mobile social et massivement multijoueur</h2>
				<p>
					Au sein d'une équipe réduite, nous avons conçu le premier prototype de ce projet. L'idée est de faire un jeu social massivement multijoueur le tout sur mobile. Pour se faire, nous avons utilisé Node.js couplé à une interface responsive. En fin de stage, nous avons tester d'implémenter Phonegap pour un test de performance.
				</p>
			</div>
			<img class="detail-round" src="ui/images/s_p_1_kontest.png">
		</div>
		<div class="more-explication-client">
			<img class="detail-round" src="ui/images/s_p_2_kontest.png">
			<div class="wrapper-explication">
				<h2>Simple mais adictif !</h2>
				<p>
					Le jeu est une course ou chacun est représenté par son avatar. Le but est d'appuyer le plus rapidement le bouton TAP pour finir avant les autres. Au cours de la course, des bonus apparaissent et impactent les autres coureurs.
				</p>
			</div>
		</div>
		<div class="more-explication">
			<div class="wrapper-explication">
				<h2>Les apports</h2>
				<p>
					Travailler en agile au sein d'une équipe réduite et sur des technologies innovantes a été un pur bonheur. Avoir des responsabilités et partager son expérience pour le bien d'un projet est grandement enrichissant. J'ai pu notamment prendre en main le Test Driven Development, les pull requests, le planning poker, …
				</p>
			</div>
			<img class="detail-round" src="ui/images/s_p_3_kontest.png">
		</div>
		<div class="temptation">
			<p>En savoir plus ↓</p>
			<a class="cta-extern" href="http://www.plex.io" target="blank">plex.io<a/>
		</div>
		<div class="border"></div>
	</article>
	<article class="third-paragraph">
		<div class="card">
			<div class="wrapper-card">
				<div class="corner top right"></div>
				<div class="corner top left"></div>
				<div class="corner bottom right"></div>
				<div class="corner bottom left"></div>
				<h2>Mes roles</h2>
					<ul>
						<li><span class="round"></span>Développeur node back<span class="round"></span></li>
					</ul>
				<h2>Les techonlogies</h2>
					<ul>
						<li><span class="round"></span>Node.js<span class="round"></span></li>
						<li><span class="round"></span>Compound.js<span class="round"></span></li>
						<li><span class="round"></span>CoffeeScript<span class="round"></span></li>
						<li><span class="round"></span>Github<span class="round"></span></li>
					</ul>
			</div>
		</div>
	</article>
	
	<nav class="nav-project">
		<div class="pure-g">
			<div class="pure-u-1-3">
				<a href="#" class="nav-project-item" data-project-id="kontest" data-project-url="project/kontest"><img src="ui/images/logos/kontest.png"></img></a>
			</div>
			<div class="pure-u-1-3">
				<a href="#" class="nav-project-item" data-project-id="streethoop" data-project-url="project/streethoop"><img src="ui/images/logos/streethoop.png"></img></a>
			</div>
			<div class="pure-u-1-3">
				<a href="#" class="nav-project-item" data-project-id="pisad" data-project-url="project/pisad"><img src="ui/images/logos/pisad.png"></img></a>
			</div>
		</div>
	</nav>

	<div class="controls">
		<div class="wrapper-controls">
			<div id="back-to-cards" class="finish-him">
				<ul>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>
		</div>
	</div>
</div>