<div class="wrapper streethoop">
	<header class="top">
		<div class="logo-background">
			<img class="logo" src="ui/images/logos/streethoop.png"></img>
			<p class="sentence">
				En 4 jours, imaginez un concept simple et développez le en natif sur mobile.
			</p>
		</div>
	</header>
	<article class="first-paragraph">
		<p class="sentence">
			StreetHoop est une application iOs et Android de géolocalisation de terrain de basket de rue. C'est une exploration des principes de design et développement de base dans un univers mobile.
		</p>
	</article>
	<article class="second-paragraph">
		<header>
			<h2>Application Android</h2>
			<p>Géolocalisation & service web</p>
			<div class="wrapper-image">
				<img class="emphasis" src="ui/images/s_p_1_streethoop.png">
				<img class="emphasis" src="ui/images/s_p_2_streethoop.png">
				<img class="emphasis" src="ui/images/s_p_3_streethoop.png">
			</div>
		</header>
		<div class="more-explication">
			<div class="wrapper-explication">
				<h2>Composants abordés</h2>
				<p>
					Ce projet contient des Fragments, des BaseAdapters, des connexion asynchrones, un style externalisé, ainsi qu'une gestion de la backstack.
				</p>
			</div>
			<img class="detail-round" src="ui/images/s_p_4_streethoop.png">
		</div>
		<div class="border"></div>
	</article>
	<article class="third-paragraph">
		<div class="card">
			<div class="wrapper-card">
				<div class="corner top right"></div>
				<div class="corner top left"></div>
				<div class="corner bottom right"></div>
				<div class="corner bottom left"></div>
				<h2>Mes roles</h2>
					<ul>
						<li><span class="round"></span>Développeur<span class="round"></span></li>
					</ul>
				<h2>Les techonlogies</h2>
					<ul>
						<li><span class="round"></span>Android SDK<span class="round"></span></li>
						<li><span class="round"></span>Android Studio<span class="round"></span></li>
					</ul>
			</div>
		</div>
	</article>

	<nav class="nav-project">
		<div class="pure-g">
			<div class="pure-u-1-3">
				<a href="#" class="nav-project-item" data-project-id="kontest" data-project-url="project/kontest"><img src="ui/images/logos/kontest.png"></img></a>
			</div>
			<div class="pure-u-1-3">
				<a href="#" class="nav-project-item" data-project-id="piggybank" data-project-url="project/piggybank"><img src="ui/images/logos/piggybank.png"></img></a>
			</div>
			<div class="pure-u-1-3">
				<a href="#" class="nav-project-item" data-project-id="pisad" data-project-url="project/pisad"><img src="ui/images/logos/pisad.png"></img></a>
			</div>
		</div>
	</nav>

	<div class="controls">
		<div class="wrapper-controls">
			<div id="back-to-cards" class="finish-him">
				<ul>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>
		</div>
	</div>
</div>